++{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <a href='/projects'>
            <button type="button" class="btn btn-outline-dark float-end">Back to projects</button>
        </a>
        <div class="col-md-12">
            <form class="form-horizontal" name="executive-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.projID.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.projID(class = "form-control", placeholder="Enter Project ID (optional)", required = False) }}
                    {% if form.projID.errors %}
                    <ul class = "errors">
                        {% for error in form.projID.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.name(class = "form-control", placeholder="Enter name", required = False) }}
                    {% if form.name.errors %}
                    <ul class = "errors">
                        {% for error in form.name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.summary.label(class = "form-label") }}
                    {{ form.summary(class = "form-control", placeholder="Enter summary", required = False) }}
                    {% if form.summary.errors %}
                    <ul class = "errors">
                        {% for error in form.summary.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.funds.label(class = "form-label") }}
                    {{ form.funds(class = "form-control", placeholder="Enter project funds", required = False) }}
                    {% if form.funds.errors %}
                    <ul class = "errors">
                        {% for error in form.funds.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.executive.label(class = "form-label") }}
                    {{ form.executive(class = "form-control", placeholder="Enter executive", required = False) }}
                    {% if form.executive.errors %}
                    <ul class = "errors">
                        {% for error in form.executive.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.start_date.label(class = "form-label") }}
                    {{ form.start_date(class = "form-control", placeholder="Enter start_date", required = False) }}
                    {% if form.start_date.errors %}
                    <ul class = "errors">
                        {% for error in form.start_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.end_date.label(class = "form-label") }}
                    {{ form.end_date(class = "form-control", placeholder="Enter end_date", required = False) }}
                    {% if form.end_date.errors %}
                    <ul class = "errors">
                        {% for error in form.end_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.associated_program.label(class = "form-label") }}
                    {{ form.associated_program(class = "form-control", placeholder="Enter associated program", required = False) }}
                    {% if form.associated_program %}
                    <ul class = "errors">
                        {% for error in associated_program %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.organization.label(class = "form-label") }}
                    {{ form.organization(class = "form-control", placeholder="Enter organization", required = False) }}
                    {% if form.organization %}
                    <ul class = "errors">
                        {% for error in organization %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.research_manager.label(class = "form-label") }}
                    {{ form.research_manager(class = "form-control", placeholder="Enter research manager", required = False) }}
                    {% if form.research_manager %}
                    <ul class = "errors">
                        {% for error in research_manager %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
                <p></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}