{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <h3>Executives</h3>
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                               <!-- <th>ID</th> -->
                                <th>Name</th>
                                <th>Surname</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exec in executive %}
                            <tr>
                                <!--<td> {{ exec.Executive_ID }} </td>-->
                                <td> {{ exec.Name }} </td>
                                <td> {{ exec.Surname }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}