{% extends "global_layout.html" %}
{% block content %}

<div class="container">
    {% include "flash_messages.html" %}
    <h3>ELIDEK Executives</h3>
    <button type="button" class="btn btn-success float-end"
    data-toggle="modal" data-target="#mymodal">Add executive</button> 
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if executive|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Executives found!</h1>
                {% else %}
                    <div class="table-responsive"> 
                        <table class="table table-borderless">
                            
                            <thead>
                                <tr>
                                    <th>Executive ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for exec in executive %}
                                    <tr>
                                        <td> {{ exec.Executive_ID }} </td>
                                        <td> {{ exec.Name }} </td>
                                        <td> {{ exec.Surname }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal" data-id="{{ exec.Executive_ID }}"
                                            data-name="mixalhs"  data-surname= "lulakhs"
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td> <a href = "/executive/update/{{ exec.Executive_ID }}">Update</a> </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-id = "{{ exec.execID }}" onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        <td><a href="/executive/update/{{ exec.Executive_ID }}">Delete</a></td>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                {% endif %}
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h4 class="modal-title">Add executive</h4>
                        </div>
                
                    </div>
                
                </div>
                </div>
            </div>
        </div>
        
    </div>
   
    
</div>



{% endblock %}