{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <a href='/projects'>
        <button type="button" class="btn btn-outline-dark float-end">Back to projects</button>
    </a> 
    <div class="row" id="row">
        <h3>{{pageTitle}}</h3>
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Researcher ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Recruitment Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for researcher in proj_researchers %}
                            <tr>
                                <td> {{ researcher.Researcher_ID }} </td>
                                <td> {{ researcher.Full_Name }} </td>
                                <td> {{ researcher.Gender }} </td>
                                <td> {{ researcher.Recruitment_Date }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <h3>Manage work to be submitted:</h3>
    <form class="form-horizontal" name="work-form" method="POST">
        <!-- hidden_tag returns the form's security metadata -->
        {{ work_form.hidden_tag() }}
        Title:
        {{ work_form.title(class = "form-select", placeholder="Enter name", required = False) }}
        Summary:
        {{ work_form.summary(class = "form-select", placeholder="Enter name", required = False) }}
        Submission date:
        {{ work_form.submission_date(class = "form-control", placeholder="Enter name", required = False) }}
        I want to do the following (for deletion only the title is needed):
        {{work_form.add_or_delete}}
        <p></p>
        {{ work_form.submit(class = "btn btn-primary") }}
        
    </form>
    <div class="row" id="row">
        <h3>Work to be submitted for project with ID {{ID}}</h3>
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Summary</th>
                                <th>Submission Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for work in works %}
                            <tr>
                                <td> {{ work.Title }} </td>
                                <td> {{ work.Summary }} </td>
                                <td> {{ work.Submission_Date }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}