{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Programs</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all programs</p>
                    <a class="btn btn-primary" id="show-btn" href="/programs">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects</h4>
                    <p class="card-text" id="paragraph">Show projects -with filtering capabilities- and find researchers working at a certain project<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Executives</h4>
                    <p class="card-text" id="paragraph">Show executives that fund projects<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/executive">Show</a>
                </div>
            </div>
        </div>
        <p> </p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects per Researcher</h4>
                    <p class="card-text" id="paragraph">Show Projects per Researcher<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects-per-researcher">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects per Field</h4>
                    <p class="card-text" id="paragraph">Show Projects per Research Field<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/projects-per-field">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects from specific Field</h4>
                    <p class="card-text" id="paragraph">Show Projects from a Research Field of your choosing<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/specific-research-field">Show</a>
                </div>
            </div>
        </div>
        <p> </p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Consecutive year projects</h4>
                    <p class="card-text" id="paragraph">Show Organizations that took up the same number of projects in two consecutive years<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/organizations-consecutive-year-projects">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Top 3 Field Pairs</h4>
                    <p class="card-text" id="paragraph">Show the three fields that were most commonly combined in projects<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/top-three-field-pairs">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Prolific Researchers</h4>
                    <p class="card-text" id="paragraph">See young (< 40 y.o) researchers working on the most projects<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/most-prolific-researchers">Show</a>
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Top Company Funders</h4>
                    <p class="card-text" id="paragraph">See Top 5 Executives that gave the most money to a certain company<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/executive-money-bags">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Many No Work Projects</h4>
                    <p class="card-text" id="paragraph">See researchers working on at least 5 projects with no work to be submitted<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers-on-projects-without-work">Show</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}