{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <h3>ELIDEK Organizations</h3>
    <a href='/organizations/create'>
        <button class="btn btn-success float-end">
            Add organization
        </button>
    </a>
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Organization ID</th>
                                <th>Acronym</th>
                                <th>Name</th>
                                <th>Street</th>
                                <th>Street Number</th>
                                <th>City</th>
                                <th>Postal Code </th>
                                <th>Type </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for org in organizations %}
                            <tr>
                                <td> {{ org.Organization_ID }} </td>
                                <td> {{ org.Acronym }} </td>
                                <td> {{ org.Name }} </td>
                                <td> {{ org.Street }} </td>
                                <td> {{ org.Street_Number}} </td>
                                <td> {{ org.City }} </td>
                                <td> {{ org.Postal_Code }} </td>
                                <td> {{ org.Org_type }} </td>
                                <td>
                                    <a type="button" onclick="setModalFields(this)"
                                    data-toggle="modal" data-acr = "{{org.Acronym}}"
                                    data-name="{{org.Name}}"  data-id= "{{org.Organization_ID}}"
                                    data-street="{{org.Street}}"  data-number= "{{org.Street_Number}}"
                                    data-city="{{org.City}}" data-pos="{{org.Postal_Code}}" 
                                    data-type="{{org.Type}}"
                                    data-bs-toggle = "modal"
                                    data-bs-target="#editModal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <button style = "all: unset; cursor: pointer;" type = "button"
                                    data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                    data-id= "{{org.Organization_ID}}" onclick = "setDeleteModalFields(this)">
                                        <i class = "fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p></p>
        <a href='/organizations/create'>
            <button class="btn btn-success float-end">
                Add organization
            </button>
        </a>    
        <p></p>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Organization</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <p><b>Edit organization with ID :
                        <input type="text" name="id" id="id" readonly></b></p>
                        <p>Acronym :
                        {{ form.acr(id = "Acronym", required = False) }}</p>
                        <p>Name :
                        {{ form.name(id = "Name", required = False) }}</p>
                        <p>
                            <b>Address :</b>
                        </p>
                        <p>Street :
                            {{ form.street(id = "Street", required = False) }}</p>
                        <p>Street Number :
                            {{ form.number(id = "Street Number", required = False) }}
                        </p>
                        <p>
                            City :
                            {{ form.city(id = "City", required = False) }}
                        </p>
                        <p>
                            Postal Code :
                            {{ form.pos(id = "Postal Code", required = False) }}
                        </p>
                        <input type="text" name="type" id="type" readonly></b></p>
                        {{ form.type(id = "Name", required = False) }}
                    </div>
                    <div>
                        {% if form.name.errors %}
                        <ul class = "errors">
                            {% for error in form.name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.acr.errors %}
                        <ul class = "errors">
                            {% for error in form.acr.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.street.errors %}
                        <ul class = "errors">
                            {% for error in form.street.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.number.errors %}
                        <ul class = "errors">
                            {% for error in form.number.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.city.errors %}
                        <ul class = "errors">
                            {% for error in form.city.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.pos.errors %}
                        <ul class = "errors">
                            {% for error in form.pos.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete organization</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                <h4>WARNING!</h4>Researchers that may work in this organization have to be deleted first. 
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function setModalFields(row) {
        document.getElementById("id").value = row.getAttribute("data-id");
        document.getElementById("Name").value = row.getAttribute("data-name");
        document.getElementById("Acronym").value = row.getAttribute("data-acr");
        document.getElementById("Street").value = row.getAttribute("data-street");
        document.getElementById("Street Number").value = row.getAttribute("data-number");
        document.getElementById("City").value = row.getAttribute("data-city");
        document.getElementById("Postal Code").value = row.getAttribute("data-pos");
       // document.getElementById("Type").value = row.getAttribute("data-type");
        document.getElementById("modal-form").action = "/organizations/update/" + document.getElementById("id").value;
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }
    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/organizations/delete/" +  row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }

</script>

 

{% endblock %}