{% extends "global_layout.html" %}

{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    
    <div class="row" id="row">
        <h3>ELIDEK Projects</h3>
        <div class="col-md-12" align="center">
            <form class="form-horizontal" name="project-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.min_Start_Date.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.min_Start_Date(class = "form-control", placeholder="Enter name", required = False) }}
                    {% if form.min_Start_Date.errors %}
                    <ul class = "errors">
                        {% for error in form.min_Start_Date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.max_Start_Date.label(class = "form-label") }}
                    {{ form.max_Start_Date(class = "form-control", placeholder="Enter surname", required = False) }}
                    {% if form.max_Start_Date.errors %}
                    <ul class = "errors">
                        {% for error in form.max_Start_Date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.min_Duration.label(class = "form-label") }}
                    {{ form.min_Duration(class = "form-control", placeholder="Enter minimum duration", required = False) }}
                    {% if form.min_Duration.errors %}
                    <ul class = "errors">
                        {% for error in form.min_Duration.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.max_Duration.label(class = "form-label") }}
                    {{ form.max_Duration(class = "form-control", placeholder="Enter maximum duration", required = False) }}
                    {% if form.max_Duration.errors %}
                    <ul class = "errors">
                        {% for error in form.max_Duration.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.executive.label(class = "form-label") }}
                    {{ form.executive(class = "form-control", placeholder="Enter executive name", required = False) }}
                    {% if form.executive.errors %}
                    <ul class = "errors">
                        {% for error in form.executive.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}


                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Project</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="modal-form" method="POST">
                    {{ form2.hidden_tag() }}
                    <div style="text-align: center;">
                    
                        <p><b> Edit Project with ID: <input type="text" name="id" id="id" readonly> </b> </p>
                        <p>Name:
                        {{ form2.name(id = "Name", required = False) }} </p>
                        <p>Summary: </p>
                        <p>{{ form2.summary(id = "Summary", required = False) }} </p>
                        <p>Funds:
                        {{ form2.funds(id = "Funds", required = False) }} </p>
                        <p>Executive:
                        {{ form2.executive(id = "Executive", required = False) }} </p>
                        <p>Start and End dates:
                        {{ form2.start_date(id = "Start Date", required = False) }}
                        {{ form2.end_date(id = "End Date", required = False) }} </p>
                        <p>Organization:
                        {{ form2.organization(id = "Organization", required = False) }} </p>
                    </div>

                    <div>
                        {% if form2.name.errors %}
                        <ul class = "errors">
                            {% for error in form2.name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.summary.errors %}
                        <ul class = "errors">
                            {% for error in form2.summary.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.funds.errors %}
                        <ul class = "errors">
                            {% for error in form2.funds.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.executive.errors %}
                        <ul class = "errors">
                            {% for error in form2.executive.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.start_date.errors %}
                        <ul class = "errors">
                            {% for error in form2.start_date.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.end_date.errors %}
                        <ul class = "errors">
                            {% for error in form2.end_date.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form2.organization.errors %}
                        <ul class = "errors">
                            {% for error in form2.organization.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form2.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Name</th>
                                <th>Summary</th>
                                <th>Funds</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Executive Name</th>
                                <th>Organization ID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td> <a href = "/projects/{{ project.Project_ID }}"> {{ project.Project_ID }} </a> </td>
                                <td> {{ project.P_Name }} </td>
                                <td> {{ project.Summary }} </td>
                                <td> {{ project.Project_Funds }} </td>
                                <td> {{ project.Start_Date }} </td>
                                <td> {{ project.End_Date }} </td>
                                <td> {{ project.E_Name }} </td>
                                <td> {{ project.Organization_ID }} </td>
                                <td>
                                    <a type="button" onclick="setModalFields(this)"
                                    data-toggle="modal" data-id="{{ project.Project_ID }}"
                                    data-name="{{project.P_Name}}"  data-summary= "{{project.Summary}}"
                                    data-funds = "{{project.Project_Funds}}" data-start-date = "{{project.Start_Date}}"
                                    data-end-date = "{{project.End_Date}}" data-executive = "{{project.E_Name}}"
                                    data-organization = "{{project.Organization_ID}}"
                                    data-bs-toggle = "modal"
                                    data-bs-target="#editModal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <button style = "all: unset; cursor: pointer;" type = "button"
                                    data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                    data-id="{{ project.Project_ID }}" onclick = "setDeleteModalFields(this)">
                                        <i class = "fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete project</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                <h4>WARNING! 😡</h4>Project cannot be deleted if it has associated entities. 
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFields(row) {
        document.getElementById("id").value = row.getAttribute("data-id");
        document.getElementById("Name").value = row.getAttribute("data-name");
        document.getElementById("Summary").value = row.getAttribute("data-summary");
        document.getElementById("Funds").value = row.getAttribute("data-funds");
        document.getElementById("Executive").value = row.getAttribute("data-executive");
        document.getElementById("Start Date").value = row.getAttribute("data-start-date");
        document.getElementById("End Date").value = row.getAttribute("data-end-date");
        document.getElementById("Organization").value = row.getAttribute("data-organization");
        document.getElementById("modal-form").action = "/projects/update/" + document.getElementById("id").value;
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/projects/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }

</script>

 

{% endblock %}